@import "tailwindcss";

a {
  @apply text-blue-600;
}
a:hover {
  @apply text-blue-800 underline;
}
a:visited {
  @apply text-purple-600;
}

.article h2 {
  @apply text-2xl font-bold;
}

button {
  @apply cursor-pointer;
}